@font-face {
    font-family: 'Source Sans';
    src: url('/fonts/source-sans.woff2') format('woff2'),
        url('/fonts/source-sans.woff') format('woff');
    font-weight: 200 900;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/source-code-pro.woff2') format('woff2'),
        url('/fonts/source-code-pro.woff') format('woff');
    font-weight: 200 900;
    font-display: swap;
}